@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
h2{
    color: #707070;
    font-weight: 400;
}
/*menu navegacion*/
.icons {
    background-color: #F5F5F5;
    padding: 5px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/*cards*/
.card_img {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 20px auto;
    width: 100%;
}

.wrapper .card_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card_wrapper .card_item {
    width: 25%;
    padding: 10px;
}
.card_wrapper .card_item:hover {
    padding: 5px;
}

.card_wrapper .card_inner {
    background: #F5F5F5;
}

.card_wrapper .card_top {
    width: 100%;
    height: auto;
    padding: 50px;
    padding-bottom: 0;
}

.card_wrapper .card_bottom {
    padding: 15px;
}

.card_wrapper .card_bottom .card_categoria {
    text-transform: uppercase;
    text-align: center;
    color: #707070;
}

.card_wrapper .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
    color: #999999;
}

@media(max-width: 1024px) {
    .card_wrapper .card_item {
        width: 50%;
    }
}

@media(max-width: 768px) {
    .card_wrapper .card_item {
        width: 50%;
    }
}

@media(max-width: 528px) {
    .card_wrapper .card_item {
        width: 100%;
    }
}

/*brand carrusel*/
#marcas{
    background-color: #F5F5F5;
}